body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.console {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}